apricot-select @ file:///home/conda/feedstock_root/build_artifacts/apricot-select_1734870919462/work
biopython @ file:///home/conda/feedstock_root/build_artifacts/biopython_1737241701628/work
blinker==1.9.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1734380492396/work/certifi
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1724954807150/work
charset-normalizer==3.4.1
click==8.1.8
CNVkit @ file:///opt/conda/conda-bld/cnvkit_1677616009410/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1727293517607/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
et_xmlfile==2.0.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1737517818712/work
Flask==3.0.3
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1737780969866/work
freetype-py @ file:///home/conda/feedstock_root/build_artifacts/freetype-py_1650983368720/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1734650190311/work
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1733462549337/work
idna==3.10
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
itsdangerous==2.2.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1601671685479/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1725459266648/work
llvmlite @ file:///croot/llvmlite_1736366675558/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1733219680183/work
matplotlib==3.9.4
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
munkres==1.1.4
narwhals==1.24.1
nest-asyncio==1.6.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
nose @ file:///home/conda/feedstock_root/build_artifacts/nose_1602434998960/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1718888028049/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225342954/work/dist/numpy-1.26.4-cp39-cp39-linux_x86_64.whl#sha256=c799942b5898f6e6c60264d1663a6469a475290e758c654aeeb78e2596463abd
openpyxl==3.1.5
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1736810577256/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1712154461189/work
plotly==6.0.0
pomegranate @ file:///home/conda/feedstock_root/build_artifacts/pomegranate_1734870954619/work
pycairo==1.27.0
pyfaidx @ file:///opt/conda/conda-bld/pyfaidx_1728570107633/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
pysam==0.22.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyVCF3 @ file:///opt/conda/conda-bld/pyvcf3_1650931562118/work
reportlab @ file:///home/conda/feedstock_root/build_artifacts/reportlab_1727846838921/work
requests==2.32.3
retrying==1.3.4
rlPyCairo @ file:///home/conda/feedstock_root/build_artifacts/rlpycairo_1687519531733/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1640464150285/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1716470218293/work/dist/scipy-1.13.1-cp39-cp39-linux_x86_64.whl#sha256=e6696cb8683d94467891b7648e068a3970f6bc0a1b3c1aa7f9bc89458eafd2f0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1727529700862/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
torch @ file:///home/conda/feedstock_root/build_artifacts/libtorch_1728232358512/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1736692503055/work
urllib3==2.3.0
Werkzeug==3.0.6
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
